h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $heading-margin-bottom;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  color: $heading-color;
}

h1, .h1 { font-size: $font-size-h1 }
h2, .h2 { font-size: $font-size-h2 }
h3, .h3 { font-size: $font-size-h3 }
h4, .h4 { font-size: $font-size-h4 }
h5, .h5 { font-size: $font-size-h5 }
h6, .h6 { font-size: $font-size-h6 }

hr {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

small,
.small {
  font-size: 80%;
  font-weight: normal;
}

mark,
.mark {
  padding: .2em;
  background-color: $orange;
}

@include b('list') {
  @include m('unstyled') {
    @include list-unstyled;
  }
}
