@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // Do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}

//Colors
$gray-dark:           #2c3643 !default;
$gray:                #3b444f !default;
$gray-light:          #67747c !default;
$gray-lighter:        #99a9b3 !default;
$gray-lightest:       #dbe6ec !default;
$gray-faded:          #f4f8fb !default;

$dark-blue:           #142b44 !default;
$nav-blue:            #1d508d !default;
$lp-blue:             #297CBB !default;
$link-blue:           #288ad6 !default;
$teal:                #0FDEBD !default;
$green:               #16c98d !default;
$yellow:              #feef6d !default;
$orange:              #ffc83f !default;
$red:                 #fa5e5b !default;

//Options
$enable-grid-classes:                 true !default;
$enable-response-grid-classes:        true !default;
$enable-proportional-grid-classes:    true !default;
$enable-flex:                         false !default;
$enable-transitions:                  true !default;
$enable-rounded:                      true !default;
$enable-box-shadow:                   true !default;

//Spacing
$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

//Body
$body-bg: #fff !default;
$body-color: $gray-dark !default;

//Links
$link-color: $link-blue;
$link-decoration: none !default;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");


// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width-base:     30px !default;
$grid-gutter-widths: (
  xs: 0,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
) !default;

$grid-columns: 5 !default;
$grid-wrap-gutter-widths: (0,10,15,20,30) !default;
$grid-gutter-width-base: 30px !default;

//Typography
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;

$font-size-root: 12px !default;

$font-size-base: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: .8rem !default;
$font-size-xs: 1rem !default;

$font-size-h1: 2rem !default;
$font-size-h2: 1.75rem !default;
$font-size-h3: 1.5rem !default;
$font-size-h4: 1.25rem !default;
$font-size-h5: 1.125rem !default;
$font-size-h6: 1rem !default;

$line-height-base:       1.5 !default;
$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$small-font-size: 80% !default;

$heading-font-weight: 500 !default;
$heading-line-height: 1.1 !default;
$heading-color: $gray-dark !default;
$heading-margin-bottom: .4rem !default;

$hr-border-width: 1px !default;
$hr-border-color: $gray-light !default;

$abbr-border-color: $gray-light !default;
//Components

//Border radius
$border-radius: .125em;

//Table
$table-bg: transparent !default;

//Buttons
$btn-line-height: 1.25;

$btn-padding-x: 1.25rem !default;
$btn-padding-y: .25rem !default;
$btn-font-size: 1rem !default;
$btn-border-radius: $border-radius;

$btn-padding-x-sm: .75rem !default;
$btn-padding-y-sm: .125rem !default;
$btn-font-size-sm: 87.5% !default;
$btn-border-radius-sm: $border-radius;

$btn-padding-x-lg: 1.875rem !default;
$btn-padding-y-lg: .4rem !default;
$btn-font-size-lg: $font-size-h4 !default;
$btn-border-radius-lg: $border-radius;

$btn-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !default;

//Form
$input-padding-x:                .75rem !default;
$input-padding-y:                .25rem !default;
$input-line-height:              1.25 !default;

$input-bg:                       #fdfdff !default;
$input-bg-disabled:              $gray-lightest !default;

$input-color:                    $gray !default;
$input-border-color:             rgba(0,0,0,.15) !default;
$input-btn-border-width:         $border-width !default; // For form controls and buttons
$input-box-shadow:               0 .25em .5em 0 rgba(46,61,73,.12) !default;

$input-border-radius:            $border-radius !default;
$input-border-radius-lg:         $border-radius !default;
$input-border-radius-sm:         $border-radius !default;

$input-bg-focus:                 #ffffff;
$input-border-focus:             #91daee !default;
$input-box-shadow-focus:         0 0 .75em .25em rgba(145,218,238,.35) !default;
$input-color-focus:              $input-color;

$input-color-placeholder:        $gray-lighter !default;

$input-padding-x-sm:             .5rem !default;
$input-padding-y-sm:             .25rem !default;

$input-padding-x-lg:             1.5rem !default;
$input-padding-y-lg:             .75rem !default;

$input-height:                   (($font-size-base * $line-height-base) + ($input-padding-y * 2)) !default;
$input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2)) !default;
$input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)) !default;

$form-group-margin-bottom:       $spacer-y !default;

//Table
$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;

$table-bg:                      transparent !default;
$table-bg-accent:               $gray-faded !default;
$table-bg-hover:                darken($gray-faded, 1%) !default;
$table-bg-active:               $table-bg-hover !default;

$table-border-width:            $border-width !default;
$table-border-color:            $gray-lightest !default;

//Nav
$nav-item-margin:               .2rem !default;
$nav-item-inline-spacer:        1rem !default;
$nav-link-padding:              .5em 1em !default;
$nav-link-hover-bg:             $gray-lighter !default;
$nav-disabled-link-color:       $gray-light !default;
$nav-disabled-link-hover-color: $gray-light !default;
$nav-disabled-link-hover-bg:    transparent !default;

$nav-tabs-border-width:                       2px !default;
$nav-tabs-border-radius:                      $border-radius !default;
$nav-tabs-link-color:                         $gray-light !default;
$nav-tabs-link-hover:                         $gray !default;
$nav-tabs-active-link-color:                  $link-blue !default;
$nav-tabs-active-link-border-color:           darken($nav-tabs-active-link-color, 5%) !default;
$nav-tabs-justified-link-border-color:        #ddd !default;
$nav-tabs-justified-active-link-border-color: $body-bg !default;

$nav-pills-border-radius:     $border-radius !default;
$nav-pills-active-link-color: $link-blue !default;
$nav-pills-active-link-bg:    $link-blue !default;

//z-index
$zindex-dropdown-backdrop:  990 !default;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-navbar-sticky:     1030 !default;
$zindex-modal-bg:          1040 !default;
$zindex-modal:             1050 !default;

//Navbar
$navbar-border-radius:              $border-radius !default;
$navbar-padding-x:                  $spacer !default;
$navbar-padding-y:                  ($spacer / 2) !default;
$navbar-brand-padding-y:            .25rem !default;

//Tags
$tag-color:                 #fff !default;
$tag-link-hover-color:      #fff !default;
$tag-font-size:             75% !default;
$tag-font-weight:           bold !default;
$tag-padding-x:             .4em !default;
$tag-padding-y:             .25em !default;

$tag-pill-padding-x:        .6em !default;
$tag-pill-border-radius:    10rem !default;

// Breadcrumbs
$breadcrumb-padding-y:          .75rem !default;
$breadcrumb-padding-x:          1rem !default;
$breadcrumb-item-padding:       .5rem !default;

$breadcrumb-bg:                 $gray-lighter !default;
$breadcrumb-divider-color:      $gray-light !default;
$breadcrumb-active-color:       $gray-light !default;
$breadcrumb-divider:            "/" !default;

// Pagination

$pagination-padding-x:                .75rem !default;
$pagination-padding-y:                .5rem !default;
$pagination-padding-x-sm:             .75rem !default;
$pagination-padding-y-sm:             .275rem !default;
$pagination-padding-x-lg:             1.5rem !default;
$pagination-padding-y-lg:             .75rem !default;


$pagination-color:                     $link-color !default;
$pagination-bg:                        #fff !default;
$pagination-border-width:              $border-width !default;
$pagination-border-color:              #ddd !default;

$pagination-hover-color:               $link-blue !default;
$pagination-hover-bg:                  $gray-faded !default;
$pagination-hover-border:              #ddd !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $lp-blue !default;
$pagination-active-border:             $lp-blue !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;
