@mixin form-control-focus () {
  &:focus {
    color: $input-color-focus;
    border-color: $input-border-focus;
    outline: none;
    background-color: $input-bg-focus;
    box-shadow: $input-box-shadow-focus;
  }
}
